JIBE/PolicyFileHttp.xml

<?xml version="1.0"?>

<!-- Copyright (c) 2007-2009 Adobe Systems Incorporated. All Rights Reserved. -->

<!-- XML Schema for HTTP policy files -->
<!-- Refinement of generic schema at PolicyFile.xsd -->
<!-- Note that several different user-agents support policy files, and each may support
     a different set of the tags described here.  Consult the documentation for your
     particular user-agent in order to verify that you are using syntax it supports.
     The rules here only help validate that a policy file is well-formed. -->

<!-- No target namespace. Flash Player will not parse policy files that
		 use explicit namespace qualification (e.g. <pf:cross-domain-policy>),
		 so we place our types in the unqualified namespace to discourage
		 qualification in policy files. -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Difference from generic schema: "by-ftp-filename" not allowed -->
	<xsd:simpleType name="meta-policy-attribute">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="by-content-type"/>
			<xsd:enumeration value="master-only"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Same as generic schema -->
	<xsd:simpleType name="domain-attribute">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\*|(\*?[A-Za-z0-9\-\.]+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Same as generic schema -->
	<xsd:simpleType name="headers-attribute">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\*|([\x21-\x29\x2b\x2d-\x39\x3b-\x7e]+\*?(,[\x21-\x29\x2b\x2d-\x39\x3b-\x7e]+\*?)*)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Same as generic schema -->
	<xsd:simpleType name="sha1-fingerprint-attribute">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9a-fA-F][: ]?){40}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Same as generic schema -->
	<xsd:simpleType name="sha1-fingerprint-algorithm-attribute">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[Ss][Hh][Aa]-1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Same as generic schema -->
	<xsd:complexType name="site-control-element">
		<xsd:attribute name="permitted-cross-domain-policies" use="required" type="meta-policy-attribute"/>
	</xsd:complexType>

	<!-- Difference from generic schema: "to-ports" and "secure" not allowed -->
	<xsd:complexType name="allow-access-element">
		<xsd:attribute name="domain" use="required" type="domain-attribute"/>
	</xsd:complexType>

	<!-- Difference from generic schema: "secure" not allowed -->
	<xsd:complexType name="allow-headers-element">
		<xsd:attribute name="domain" use="required" type="domain-attribute"/>
		<xsd:attribute name="headers" use="required" type="headers-attribute"/>
	</xsd:complexType>

	<!-- Same as generic schema -->
	<xsd:complexType name="certificate-element">
		<xsd:attribute name="fingerprint" use="required" type="sha1-fingerprint-attribute"/>
		<xsd:attribute name="fingerprint-algorithm" use="required" type="sha1-fingerprint-algorithm-attribute"/>
	</xsd:complexType>

	<!-- Same as generic schema -->
	<xsd:complexType name="signatory-element">
		<xsd:choice>
			<xsd:element name="certificate" type="certificate-element" minOccurs="1" maxOccurs="1"/>
		</xsd:choice>
	</xsd:complexType>

	<!-- Same as generic schema -->
	<xsd:complexType name="allow-access-identity-element">
		<xsd:choice>
			<xsd:element name="signatory" type="signatory-element" minOccurs="1" maxOccurs="1"/>
		</xsd:choice>
	</xsd:complexType>

	<!-- Same as generic schema -->
	<xsd:complexType name="cross-domain-policy-element">
		<xsd:sequence>
			<xsd:element name="site-control" minOccurs="0" maxOccurs="1" type="site-control-element"/>
			<xsd:element name="allow-access-from" minOccurs="0" maxOccurs="unbounded" type="allow-access-element"/>
			<xsd:element name="allow-http-request-headers-from" minOccurs="0" maxOccurs="unbounded" type="allow-headers-element"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Same as generic schema -->
	<xsd:element name="cross-domain-policy" type="cross-domain-policy-element"/>

</xsd:schema>

<!-- End of file. -->
